<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">Resonate Data Lab</a></h1>
    <nav>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/team' | relative_url }}">Team</a>
      <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/class' | relative_url }}">Class</a>
      <a href="{{ '/ctuir-camp' | relative_url }}">CTUIR Camp</a>
      <a href="{{ '/blog' | relative_url }}">Manifesto</a>
      <a href="{{ '/toolbox' | relative_url }}">Toolbox</a>
      <a href="{{ '/gallery' | relative_url }}">Contribute a moment</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; made with care and coffee by the RDL Summer'25 Team</p>
  </footer>
  <script src="/assets/script.js"></script>
</body>
</html>
